@import "_config.scss";

.project-container {
    
    .react-grid{
        margin-top: 20px;
        display: flex;

        .MuiCardActions-root {
            align-self: end;
        }
    }

    .python-grid{
        margin-top: 20px;
        display: flex;
    }

    .c-grid{
        margin-top: 20px;
        display: flex;
        
        .MuiCardActions-root {
            align-self: end;
        }
    }

    .other-grid{
        margin-top: 20px;
        display: flex;

    }
}
